<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.04.02" ModuleVersion="17.00.00" ExportDate="2024-01-09T16:18:00.2447401+01:00">
  <Header>
    <App Guid="9e126f21-f211-4bea-be14-3b5b9ad69d6d" />
    <Language Default="en-us" />
    <Dimensions />
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Scope="System.App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Scope="System.App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="38150b47-0408-4639-9057-25faed8e1081" Name="Dll" Scope="Default" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Name" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="c6df4a49-60b0-4c80-8bb9-ce9be36908ea" Json="True" KeyNumber="35615">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Name" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Description" Type="String" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="89f1a2dd-94fb-42f0-b103-93d48082c5f8" Json="True" KeyNumber="35616">
            <Value Key="InputType" Value="string-wysiwyg" Type="String" />
            <Value Key="Name" Value="Description" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" Name="RuleClass" Scope="Default" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="fb1bb175-1f6f-4304-9f6b-2c5cbe48d7b3" Json="True" KeyNumber="35617">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="IgnoreAllProperties" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="fa1563e4-604a-44b5-8e0f-2705618327aa" Json="True" KeyNumber="35618">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="HelpLink" Value="" Type="Hyperlink" />
            <Value Key="Information" Value="" Type="String" />
            <Value Key="InputType" Value="boolean-tristate" Type="String" />
            <Value Key="Name" Value="IgnoreAllProperties" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="Tooltip" Value="" Type="String" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Boolean" AttributeSetName="@Boolean" EntityGUID="880b2dbe-53ce-449d-a07e-d1aae9f3839a" Json="True" KeyNumber="35618">
            <Value Key="TitleFalse" Value="" Type="String" />
            <Value Key="TitleIndeterminate" Value="" Type="String" />
            <Value Key="TitleTrue" Value="" Type="String" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Notes" Type="String" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="7872f0d0-4606-4268-bc3b-ceed60f3e584" Json="True" KeyNumber="35619">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Notes" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="ExpectedDocs" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="3118ea5e-8db0-4aa9-a173-0f2cd8f50569" Json="True" KeyNumber="35620">
            <Value Key="InputType" Value="boolean-tristate" Type="String" />
            <Value Key="Name" Value="ExpectedDocs" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="ExpectedIntellisense" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="c2ecf6e1-b779-4fb1-bcfa-1416d5eaf315" Json="True" KeyNumber="35621">
            <Value Key="InputType" Value="boolean-tristate" Type="String" />
            <Value Key="Name" Value="ExpectedIntellisense" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="decc1762-261a-42a7-bf31-7e245a10345f" Name="RuleDll" Scope="Default" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="6ea30348-074c-4a14-9121-f1c5bac4ef65" Json="True" KeyNumber="35624">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="IgnoreAll" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="4e0a65b8-560f-47d8-809c-49fd721fb972" Json="True" KeyNumber="35625">
            <Value Key="InputType" Value="boolean-tristate" Type="String" />
            <Value Key="Name" Value="IgnoreAll" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" Name="RuleNamespace" Scope="Default" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="daeb6c45-eb0d-4285-8eef-91f557c1607c" Json="True" KeyNumber="35622">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="IgnoreAll" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="4e803678-b955-494c-89d9-7458971773c7" Json="True" KeyNumber="35623">
            <Value Key="InputType" Value="boolean-tristate" Type="String" />
            <Value Key="Name" Value="IgnoreAll" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="IgnoreTypeMembers" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="646f1e85-9f07-466a-b475-02f639b61735" Json="True" KeyNumber="35626">
            <Value Key="InputType" Value="boolean-tristate" Type="String" />
            <Value Key="Name" Value="IgnoreTypeMembers" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="8afeb7c3-488b-46a8-a8fd-5412d794ae22" Json="True" KeyNumber="2960">
      <Value Key="DebugLog" Value="Caller: Create; Line: 60; File: C:\Projects\2sxc\eav-server\ToSic.Eav.Apps\Work\AppCreate\AppCreator.cs&#xA;Caller: Config: False, Resources: False, Settings: False; AllOk: False; Line: 0; File: Message&#xA;Caller: App Entity Count: 0; Line: 0; File: Message&#xA;Caller: App ContentType Count: 129; Line: 0; File: Message&#xA;Caller: App Metadata Count: 0; Line: 0; File: Message&#xA;Caller: Has Type App Config: ToSic.Eav.Data.ContentTypeWrapper; Line: 0; File: Message&#xA;Caller: Has Type App Resources: ; Line: 0; File: Message&#xA;Caller: Has Type App Settings: ; Line: 0; File: Message" Type="String" />
      <Value Key="DisplayName" Value="App-CSharpApi" Type="String" />
      <Value Key="Folder" Value="App-CSharpApi" Type="String" />
      <Value Key="OriginalId" Value="" Type="String" />
      <Value Key="Version" Value="00.00.17" Type="String" />
    </Entity>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="94540d35-a53d-4920-9ee0-2faeb6895682" KeyNumber="2960" />
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="f6066b7f-8afd-455c-b2d4-89839daee356" KeyNumber="2960" />
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="5da14db3-0210-4206-9e8f-e96335c2d297" Json="True">
      <Value Key="ContentTypeStaticName" Value="" Type="String" />
      <Value Key="Icon" Value="" Type="Hyperlink" />
      <Value Key="Identifier" Value="" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Site" Type="String" />
      <Value Key="Name" Value="Default" Type="String" />
      <Value Key="Path" Value="Default.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="SearchIndexingDisabled" Value="False" Type="Boolean" />
      <Value Key="SearchIndexingStreams" Value="" Type="String" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewController" Value="" Type="String" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="5f8e468e-a4be-464e-826e-5bfc370363bf">
      <Value Key="Description" Value="&lt;p&gt;Main DLL containing most of the public APIs&lt;/p&gt;" Type="String" />
      <Value Key="Name" Value="ToSic.Sxc" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="88507ce3-1712-4359-950a-355b02bd804f">
      <Value Key="Description" Value="&lt;p&gt;Dnn DLL&lt;/p&gt;" Type="String" />
      <Value Key="Name" Value="ToSic.Sxc.Dnn" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="b5306c50-aae4-42c4-9c94-5effaf9a8d8c">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Sxc.Dnn.Razor" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="d19df884-2ecc-4f44-90ef-573d24675a6d">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Sxc.Dnn.WebApi" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="2d11fe0c-2d47-423d-87c2-1a8bc35dc355">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Sxc.Dnn.Core" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="819504db-6f60-464c-b6c6-a20b4cc37887">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Sxc.WebApi" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="069756f2-d438-42f7-aad0-924697ac042d">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="4dbedbfe-1cc9-461d-b0f1-7721413887d9">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav.Apps" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="e32d1a12-4b6f-4edb-95d4-8167e148b64a">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav.WebApi" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="6e9ee1ca-de2f-4b7b-8928-1019c97c1099">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav.DataSources" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="63c0129a-9e95-407c-9e26-bc9de74706d6">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav.ImportExport" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="fc984fc6-10ac-4952-aaf4-2d4fe3d7e215">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav.Persistence.Efc" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="db90db5d-9a91-4b5b-8c16-65fafa525424">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav.Repository.Efc" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="3d158f41-372a-49bf-97cc-5d6016acd651">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav.Core" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="0e155039-5333-417f-9293-7e5796482cdc">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Lib.Core" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="3b4f06a2-e802-4f2b-809c-558d579a80bf">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Razor" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="e0677efc-ea7b-401a-8b44-4f14c8b8d707">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Razor.Dnn" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="fb29973f-37c8-47a6-b1a4-6be4fb772850">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Imageflow.Dnn" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="b524714c-b202-4f01-948f-6dd1a3888eec">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="Connect.Koi" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="1bdd0286-5ed8-4069-aebf-f36e62508f6b">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="Connect.Dnn.Koi" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="2eb7cad8-ad88-4abc-a2a7-c6632680f00f">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.Element" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="0283d50a-a33f-4461-bae9-75a155788bf7">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.IAppAndDataHelpers" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="724687c5-a508-4e81-9c04-e0d80ea6a9f2">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.Adam.AdamFile" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="aedebe3b-f501-44cb-9005-2ee857039e95">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.Engines.InstancePurposes" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="a2d7f438-40f3-4631-864b-fd082b0f8991">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.Interfaces.IApp" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="4e194981-52da-4dbc-9b94-5021d7f9cc94">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.Interfaces.IAppData" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="5b3b56a0-2b69-49fe-a4a3-99e6f5fdfdca">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.Interfaces.IDynamicEntity" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="1d8b6ee8-1fbd-44c7-99cc-74af6e45186a">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.Search.ISearchInfo" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="f0ab215f-1626-4909-9f3d-8a96da0cdcfa">
      <Value Key="ExpectedDocs" Value="True" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="False" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="Custom.Hybrid.Code12" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="cc8d8925-96df-4327-a5f4-8567c27ea5a0">
      <Value Key="ExpectedDocs" Value="True" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="False" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="Custom.Hybrid.Code14" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="011526a0-580b-4281-a939-6dec3f659a94">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Constants" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="a04b6a32-4404-4156-bd8a-f0f0ad96fd94">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Internal" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="e03faa26-824b-4fa7-9558-261802ac82bd">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Adam.Internal" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="e2836921-260a-432b-9792-1dd5b8fd8126">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Apps.Internal" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="d3cf010a-cd5d-4302-93ec-762028a6a5da">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Apps.Internal.ImportExport" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="3a014fa4-93ce-4243-b0d9-0c7caab86f53">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Apps.Internal.Work" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="9f84fb8c-9cfe-438d-b540-4c3bff808369">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Apps.Internal.Assets" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="5e27c5ed-0cba-4d3e-924e-2bae0b6f2bb9">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Blocks.Internal" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="f095ca57-0667-4a46-9b97-7a8f2eb5da87">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Blocks.Internal.Render" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="a91c300b-70b7-4ddf-96e6-8d40d72e9f10">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Blocks" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="0142fbd1-8dc2-4728-b8fc-238965e90b78">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Cms.Internal.Publishing" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="f7eb225f-535b-4e86-9a45-1cf2722e4772">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Compatibility.Internal" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="f7c47fa6-fcc3-4c3e-afe3-25c9c2a70de4">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Configuration.Internal" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="b30f37bb-b452-4eb1-9949-277e7abc109a">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Context.Internal" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="3099c6c4-a6c5-4bba-a412-5f90c735bcb6">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Context.Internal.Raw" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="58505cef-68c6-4cca-a340-87b87e6b1629">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Context.IModule" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="8c3287d5-9fef-4ba2-ae22-07735fe04ba0">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Context.IPage" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="22a35c45-542d-4678-b822-4030303efc62">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Context.Module`1" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="20e6402b-17f6-42cf-86e1-4fce62bbe9e9">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Data.Internal" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="9f6efae7-a395-4417-8403-5f0da1924afe">
      <Value Key="IgnoreAll" Value="True" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Data.Experimental" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="cc98d2da-9fd8-4693-a0ef-cf94f62b340b">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Services.Internal" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="28793932-2dbc-40ec-96e9-6ef622fd082f">
      <Value Key="ExpectedDocs" Value="True" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="False" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Data.DynamicJacket" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="d9a31506-0cab-429b-af8f-dc46d35f7f82">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Data.SecureDataAuthorities" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="ead6a132-dd94-40dc-b3e0-5b0b815d6920">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Data.DynamicEntity" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="9bcd6aa7-1b62-47e7-9d4f-175ce5c4e74d">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Data.Internal.Convert" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="26d081e8-5809-42cd-b3a1-58dfc4eec5b6">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Data.Internal.Docs" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="589d666a-3577-4cdf-8c4e-c6c4909a9c4e">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Data.Internal.Dynamic" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="b86cd477-5ff5-444b-ac27-440d3e5d7047">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Data.Internal.Typed" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="64b2132c-a184-4445-8029-490be5ab87af">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Data.Internal.Wrapper" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="a93323ca-5494-474a-8907-786522d68604">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.DataSources.Internal" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="b2ad3001-b5fa-42c3-8f24-b9bcba3c5e5d">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.DataSources.Internal.Compatibility" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="e50c5ba5-fc3e-4a56-8b32-c20b644e717d">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Code.Internal.CodeErrorHelp" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="5cd71d26-4fec-4e4f-9374-faf5e9704de5">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Code.Internal.CodeRunHelpers" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="004a0951-221c-413c-a18f-2290585a9e61">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Code.Internal.Documentation" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="80205712-8b61-433c-b523-365cbd34f3cc">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Code.Internal.HotBuild" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="1d8edb92-64da-430a-8e9f-94d414821ca2">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Code.Internal.SourceCode" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="71b313c0-ec96-4115-951e-197864f22cad">
      <Value Key="ExpectedDocs" Value="True" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="False" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="Notes" Value="Special case - must not disable IntelliSense as it would affect inherited custom code" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Code.Internal.CustomCodeBase" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="42a4adfb-0b53-4552-84e3-45f5cc093300">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Code.Internal" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="66b36d97-8d65-4560-98a0-be715aa59647">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Code.DynamicCode" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="e23ac3ec-3d8f-4c0a-a419-8fe03ed09f8a">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Code.DynamicCode12" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="f12e07f6-8f95-4fc6-ae66-49fed8004a1f">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.Icons" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="ebb11793-156f-4523-ae53-9c8dd37104af">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.Internal.Caching" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="a8136868-75b0-4e53-a88a-2e57a2d54dcb">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.Internal.Catalog" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="4e4eec69-bf41-4020-821e-229579caa09a">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.Internal.Configuration" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="4308ffb7-bc0b-4719-b4f5-abc11ceb5643">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.Internal.Errors" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="bbbdc6d4-bb0c-42f7-814d-382fa5b57b33">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.Internal.Inspect" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="b87a0eb4-e75a-47e1-8f48-3e1f9a37be47">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.Internal.Query" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="a9ce6a76-a84a-4e45-988c-bf05ebd3a393">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.Internal.AppDataSources" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="81d769c9-2dd7-4ab2-b589-c6fd4f1df7e2">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.VisualQuery.Internal" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="113d42f1-1055-44e0-a822-9ba35be6b4ce">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.Internal" Type="String" />
    </Entity>
  </Entities>
  <PortalFiles />
  <PortalFolders>
    <Folder Id="15360" RelativePath="adam/App-CSharpApi/" />
  </PortalFolders>
</SexyContent>