<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.04.02" ModuleVersion="17.00.00" ExportDate="2024-01-10T14:42:00.1101817+01:00">
  <Header>
    <App Guid="9e126f21-f211-4bea-be14-3b5b9ad69d6d" />
    <Language Default="en-us" />
    <Dimensions />
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Scope="System.App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Scope="System.App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="38150b47-0408-4639-9057-25faed8e1081" Name="Dll" Scope="Default" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Name" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="c6df4a49-60b0-4c80-8bb9-ce9be36908ea" Json="True" KeyNumber="35615">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Name" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Description" Type="String" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="89f1a2dd-94fb-42f0-b103-93d48082c5f8" Json="True" KeyNumber="35616">
            <Value Key="InputType" Value="string-wysiwyg" Type="String" />
            <Value Key="Name" Value="Description" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" Name="RuleClass" Scope="Default" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="fb1bb175-1f6f-4304-9f6b-2c5cbe48d7b3" Json="True" KeyNumber="35617">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="IgnoreAllProperties" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="fa1563e4-604a-44b5-8e0f-2705618327aa" Json="True" KeyNumber="35618">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="HelpLink" Value="" Type="Hyperlink" />
            <Value Key="Information" Value="" Type="String" />
            <Value Key="InputType" Value="boolean-tristate" Type="String" />
            <Value Key="Name" Value="IgnoreAllProperties" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="Tooltip" Value="" Type="String" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Boolean" AttributeSetName="@Boolean" EntityGUID="880b2dbe-53ce-449d-a07e-d1aae9f3839a" Json="True" KeyNumber="35618">
            <Value Key="TitleFalse" Value="" Type="String" />
            <Value Key="TitleIndeterminate" Value="" Type="String" />
            <Value Key="TitleTrue" Value="" Type="String" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Notes" Type="String" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="7872f0d0-4606-4268-bc3b-ceed60f3e584" Json="True" KeyNumber="35619">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Notes" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="ExpectedDocs" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="3118ea5e-8db0-4aa9-a173-0f2cd8f50569" Json="True" KeyNumber="35620">
            <Value Key="InputType" Value="boolean-tristate" Type="String" />
            <Value Key="Name" Value="ExpectedDocs" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="ExpectedIntellisense" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="c2ecf6e1-b779-4fb1-bcfa-1416d5eaf315" Json="True" KeyNumber="35621">
            <Value Key="InputType" Value="boolean-tristate" Type="String" />
            <Value Key="Name" Value="ExpectedIntellisense" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="IgnoreMembersWithoutSpecs" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="d8db749c-6f1e-4a9d-8e90-f66ed9a25584" Json="True" KeyNumber="35627">
            <Value Key="InputType" Value="boolean-tristate" Type="String" />
            <Value Key="Name" Value="IgnoreMembersWithoutSpecs" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="decc1762-261a-42a7-bf31-7e245a10345f" Name="RuleDll" Scope="Default" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="6ea30348-074c-4a14-9121-f1c5bac4ef65" Json="True" KeyNumber="35624">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="IgnoreAll" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="4e0a65b8-560f-47d8-809c-49fd721fb972" Json="True" KeyNumber="35625">
            <Value Key="InputType" Value="boolean-tristate" Type="String" />
            <Value Key="Name" Value="IgnoreAll" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" Name="RuleNamespace" Scope="Default" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Title" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="daeb6c45-eb0d-4285-8eef-91f557c1607c" Json="True" KeyNumber="35622">
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Title" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="IgnoreAll" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="4e803678-b955-494c-89d9-7458971773c7" Json="True" KeyNumber="35623">
            <Value Key="InputType" Value="boolean-tristate" Type="String" />
            <Value Key="Name" Value="IgnoreAll" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="IgnoreTypeMembers" Type="Boolean" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="646f1e85-9f07-466a-b475-02f639b61735" Json="True" KeyNumber="35626">
            <Value Key="InputType" Value="boolean-tristate" Type="String" />
            <Value Key="Name" Value="IgnoreTypeMembers" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Notes" Type="String" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="9066cddd-c8c1-45c8-8c67-c5f1a3841a6b" Json="True" KeyNumber="35628">
            <Value Key="CustomJavaScript" Value="" Type="String" />
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="Disabled" Value="False" Type="Boolean" />
            <Value Key="DisableTranslation" Value="False" Type="Boolean" />
            <Value Key="HelpLink" Value="" Type="Hyperlink" />
            <Value Key="Information" Value="" Type="String" />
            <Value Key="InputType" Value="string-default" Type="String" />
            <Value Key="Name" Value="Notes" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Placeholder" Value="" Type="String" />
            <Value Key="Required" Value="False" Type="Boolean" />
            <Value Key="Tooltip" Value="" Type="String" />
            <Value Key="ValidationRegExJavaScript" Value="" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="54a7f617-5424-4967-8cb4-cac906874613" Json="True" KeyNumber="35628">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="2b719486-e19a-44b9-b526-7fdb86132358" Json="True" KeyNumber="35628">
            <Value Key="InputFontFamily" Value="" Type="String" />
            <Value Key="RowCount" Value="3" Type="Number" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="8afeb7c3-488b-46a8-a8fd-5412d794ae22" Json="True" KeyNumber="2960">
      <Value Key="DebugLog" Value="Caller: Create; Line: 60; File: C:\Projects\2sxc\eav-server\ToSic.Eav.Apps\Work\AppCreate\AppCreator.cs&#xA;Caller: Config: False, Resources: False, Settings: False; AllOk: False; Line: 0; File: Message&#xA;Caller: App Entity Count: 0; Line: 0; File: Message&#xA;Caller: App ContentType Count: 129; Line: 0; File: Message&#xA;Caller: App Metadata Count: 0; Line: 0; File: Message&#xA;Caller: Has Type App Config: ToSic.Eav.Data.ContentTypeWrapper; Line: 0; File: Message&#xA;Caller: Has Type App Resources: ; Line: 0; File: Message&#xA;Caller: Has Type App Settings: ; Line: 0; File: Message" Type="String" />
      <Value Key="DisplayName" Value="App-CSharpApi" Type="String" />
      <Value Key="Folder" Value="App-CSharpApi" Type="String" />
      <Value Key="OriginalId" Value="" Type="String" />
      <Value Key="Version" Value="00.00.17" Type="String" />
    </Entity>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="94540d35-a53d-4920-9ee0-2faeb6895682" KeyNumber="2960" />
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="f6066b7f-8afd-455c-b2d4-89839daee356" KeyNumber="2960" />
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="5da14db3-0210-4206-9e8f-e96335c2d297" Json="True">
      <Value Key="ContentTypeStaticName" Value="" Type="String" />
      <Value Key="Icon" Value="" Type="Hyperlink" />
      <Value Key="Identifier" Value="" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Site" Type="String" />
      <Value Key="Name" Value="Default" Type="String" />
      <Value Key="Path" Value="Default.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="SearchIndexingDisabled" Value="False" Type="Boolean" />
      <Value Key="SearchIndexingStreams" Value="" Type="String" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewController" Value="" Type="String" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="5f8e468e-a4be-464e-826e-5bfc370363bf">
      <Value Key="Description" Value="&lt;p&gt;Main DLL containing most of the public APIs&lt;/p&gt;" Type="String" />
      <Value Key="Name" Value="ToSic.Sxc" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="88507ce3-1712-4359-950a-355b02bd804f">
      <Value Key="Description" Value="&lt;p&gt;Dnn DLL&lt;/p&gt;" Type="String" />
      <Value Key="Name" Value="ToSic.Sxc.Dnn" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="b5306c50-aae4-42c4-9c94-5effaf9a8d8c">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Sxc.Dnn.Razor" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="d19df884-2ecc-4f44-90ef-573d24675a6d">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Sxc.Dnn.WebApi" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="2d11fe0c-2d47-423d-87c2-1a8bc35dc355">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Sxc.Dnn.Core" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="819504db-6f60-464c-b6c6-a20b4cc37887">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Sxc.WebApi" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="069756f2-d438-42f7-aad0-924697ac042d">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="4dbedbfe-1cc9-461d-b0f1-7721413887d9">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav.Apps" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="e32d1a12-4b6f-4edb-95d4-8167e148b64a">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav.WebApi" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="6e9ee1ca-de2f-4b7b-8928-1019c97c1099">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav.DataSources" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="63c0129a-9e95-407c-9e26-bc9de74706d6">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav.ImportExport" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="fc984fc6-10ac-4952-aaf4-2d4fe3d7e215">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav.Persistence.Efc" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="db90db5d-9a91-4b5b-8c16-65fafa525424">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav.Repository.Efc" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="3d158f41-372a-49bf-97cc-5d6016acd651">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Eav.Core" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="0e155039-5333-417f-9293-7e5796482cdc">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Lib.Core" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="3b4f06a2-e802-4f2b-809c-558d579a80bf">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Razor" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="e0677efc-ea7b-401a-8b44-4f14c8b8d707">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Razor.Dnn" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="fb29973f-37c8-47a6-b1a4-6be4fb772850">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="ToSic.Imageflow.Dnn" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="b524714c-b202-4f01-948f-6dd1a3888eec">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="Connect.Koi" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="38150b47-0408-4639-9057-25faed8e1081" AttributeSetName="Dll" EntityGUID="1bdd0286-5ed8-4069-aebf-f36e62508f6b">
      <Value Key="Description" Value="" Type="String" />
      <Value Key="Name" Value="Connect.Dnn.Koi" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="2eb7cad8-ad88-4abc-a2a7-c6632680f00f">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.Element" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="0283d50a-a33f-4461-bae9-75a155788bf7">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.IAppAndDataHelpers" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="724687c5-a508-4e81-9c04-e0d80ea6a9f2">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.Adam.AdamFile" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="aedebe3b-f501-44cb-9005-2ee857039e95">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.Engines.InstancePurposes" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="a2d7f438-40f3-4631-864b-fd082b0f8991">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.Interfaces.IApp" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="4e194981-52da-4dbc-9b94-5021d7f9cc94">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.Interfaces.IAppData" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="5b3b56a0-2b69-49fe-a4a3-99e6f5fdfdca">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.Interfaces.IDynamicEntity" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="1d8b6ee8-1fbd-44c7-99cc-74af6e45186a">
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.Search.ISearchInfo" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="f0ab215f-1626-4909-9f3d-8a96da0cdcfa">
      <Value Key="ExpectedDocs" Value="True" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="False" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="Custom.Hybrid.Code12" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="cc8d8925-96df-4327-a5f4-8567c27ea5a0">
      <Value Key="ExpectedDocs" Value="True" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="False" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="Custom.Hybrid.Code14" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="011526a0-580b-4281-a939-6dec3f659a94">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Constants" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="58505cef-68c6-4cca-a340-87b87e6b1629">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Context.IModule" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="8c3287d5-9fef-4ba2-ae22-07735fe04ba0">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Context.IPage" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="22a35c45-542d-4678-b822-4030303efc62">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Context.Module`1" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="9f6efae7-a395-4417-8403-5f0da1924afe">
      <Value Key="IgnoreAll" Value="True" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="" Type="Boolean" />
      <Value Key="Title" Value="ToSic.Sxc.Data.Experimental" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="28793932-2dbc-40ec-96e9-6ef622fd082f">
      <Value Key="ExpectedDocs" Value="True" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="False" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Data.DynamicJacket" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="d9a31506-0cab-429b-af8f-dc46d35f7f82">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Data.SecureDataAuthorities" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="ead6a132-dd94-40dc-b3e0-5b0b815d6920">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Data.DynamicEntity" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="71b313c0-ec96-4115-951e-197864f22cad">
      <Value Key="ExpectedDocs" Value="True" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="False" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="Notes" Value="Special case - must not disable IntelliSense as it would affect inherited custom code" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Code.Internal.CustomCodeBase" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="66b36d97-8d65-4560-98a0-be715aa59647">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Code.DynamicCode" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="e23ac3ec-3d8f-4c0a-a419-8fe03ed09f8a">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Code.DynamicCode12" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="f12e07f6-8f95-4fc6-ae66-49fed8004a1f">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.Icons" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="54166c80-fb68-4820-ba4f-203cf1a9d46f">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Eav.LookUp.LookUpInDataSource" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="d81e9718-85ee-443c-be05-67365551f5f4">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.CustomDataSourceAdvanced" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="6a2a72d4-3fdc-4282-894f-d11a915f4431">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.IDataSourceOptions" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="c557a4cd-e325-4880-a64e-37d9b35358fe">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.DataSourceOptions" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="a6a431b7-9f61-4385-86b1-d8db7daead28">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Eav.DataSource.Internal.QuickSourceInfo" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="16198362-51a1-40e1-9d07-f11df33a24c9">
      <Value Key="ExpectedDocs" Value="False" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="True" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Eav.DataSources.Internal.MetadataDataSourceBase" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="fa8b0563-b2f8-4c19-9c0b-c54206514b06">
      <Value Key="ExpectedDocs" Value="False" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="True" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Eav.DataSources.Internal.RelationshipDataSourceBase" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="bf3d33e9-207d-4b67-9951-04b490355946">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Polymorphism.IResolver" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="3a5e546c-ca32-4d3b-896b-f90ee74317f7">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Polymorphism.PolymorphResolverAttribute" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="b647d608-7d26-41b4-b3c6-1def9e27960b">
      <Value Key="ExpectedDocs" Value="False" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="True" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Services.Internal.ServiceForDynamicCode" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="02310513-504f-47d6-95b6-1073480fa820">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Startup.SxcStartUpRegistrations" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="94ade9bf-14a7-49e5-a901-a34a33775475">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="Special rule for all internal namespaces" Type="String" />
      <Value Key="Title" Value="Special:*.Internal" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="735254e4-64a3-4875-846f-37385af2bda1">
      <Value Key="IgnoreAll" Value="True" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="" Type="Boolean" />
      <Value Key="Notes" Value="Special rule for all internal backend section" Type="String" />
      <Value Key="Title" Value="Special:*.Backend" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="aa8e98db-3d94-4ded-95c6-456a4a245dc1">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="Custom.Dnn.Api12" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="ee9e00fc-b057-40a3-89f6-46c5f3131c39">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="Custom.Hybrid.Api12" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="dc13a2dd-59f6-43ac-a672-fc0e05f8cd30">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="True" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="Custom.Hybrid.Api14" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="e853e20a-7977-4fba-92ad-1cb2a79b2fde">
      <Value Key="ExpectedDocs" Value="" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="Custom.Hybrid.ApiTyped" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="b1bb8519-1771-4830-b144-ef4ae85b5c0b">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.SexyContent.WebApi" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="4da5e470-4d5c-4a25-a9ae-f32af9586357">
      <Value Key="ExpectedDocs" Value="True" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="False" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Dnn.ApiController" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="14db1480-5e2c-41a0-b6fb-4f1b4b103a35">
      <Value Key="ExpectedDocs" Value="False" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="True" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Dnn.WebApi.DnnApiControllerWithFixes" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="452f6dd4-db7c-4993-989e-a01ece47660f">
      <Value Key="ExpectedDocs" Value="False" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="True" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Dnn.WebApi.Internal.DnnSxcControllerBase" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="43245f74-3f89-4755-b094-d34900b1706b">
      <Value Key="ExpectedDocs" Value="False" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="True" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Dnn.WebApi.Internal.DnnSxcControllerRoot" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="d39631d7-112c-45d3-9332-6a6dd22215a7" AttributeSetName="RuleClass" EntityGUID="5eb9c711-6a97-477a-8a9f-c79c77bf4e65">
      <Value Key="ExpectedDocs" Value="False" Type="Boolean" />
      <Value Key="ExpectedIntellisense" Value="True" Type="Boolean" />
      <Value Key="IgnoreAllProperties" Value="" Type="Boolean" />
      <Value Key="IgnoreMembersWithoutSpecs" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Dnn.WebApi.Internal.DnnSxcCustomControllerBase" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="1e640f25-88ab-4191-ac81-6f0fb749a60a" AttributeSetName="RuleNamespace" EntityGUID="e44b51ce-e6fd-4bde-8c26-511f6bedc145">
      <Value Key="IgnoreAll" Value="" Type="Boolean" />
      <Value Key="IgnoreTypeMembers" Value="True" Type="Boolean" />
      <Value Key="Notes" Value="" Type="String" />
      <Value Key="Title" Value="ToSic.Sxc.Dnn.Integration" Type="String" />
    </Entity>
  </Entities>
  <PortalFiles />
  <PortalFolders>
    <Folder Id="15360" RelativePath="adam/App-CSharpApi/" />
  </PortalFolders>
</SexyContent>